@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
    font-size: 70%;
    /* box-sizing: border-box; */
  }

body{
    background-color: #222;
    font-family:'Press Start 2P', sans-serif;
}

header{
    position: relative;
    height: 40vh;
    border-bottom: 7px solid white;
    /* background-color: aqua; */
}

h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    /* width: 100%; */
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    padding-bottom: 2rem;
  }

.again{
    position: absolute;
    top: 2rem;
    left: 2rem;
    border: solid #eee;
    font-family: inherit;
    padding: 1rem 1rem;
    font-size:2rem ;
    cursor: pointer;
    border-radius: 5px;
}
.between{
    position: absolute;
    top: 0rem;
    right: 0rem;
    color: azure;
    font-size: 1.3rem;
}
.number{
    position: absolute;
    bottom: 0rem;
    /* width is defined here to use in DOM */
    width: 10rem;
    font-size: 5rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: white;
    padding: 2rem 3rem;
} 




main {
    height: 55vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-bottom: 5px solid #000; */
  }
.left{
    display: flex;
    padding-right: 10px;
    width: 52rem;
    flex-direction: column;
    align-items: center;

}
.right{
    width: 52rem;
    font-size: 2rem; 

}

.guess{
    width: 20rem;
    background: none;
    /* display: block; */
    font-size: 5rem;
    color: #eee;
    padding: 2rem;
    text-align: center;
    font-family: inherit;
    margin-bottom: 2rem;
    border:5px solid #eee;
    

}

.check{
    font-family: inherit;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: solid #eee;
}
.message{
    margin-bottom: 8rem;
    
  }

.label-score{
    
}
.label-highscore{
    
    margin-bottom: 30rem;
}
  